<section layout="row" layout-align="center">
  <md-card flex flex-gt-sm="60">
    <md-card-title class="accent md-title">
      Create a new password
    </md-card-title>
    <md-progress-linear ng-show="$ctrl.loading" md-mode="indeterminate"></md-progress-linear>
    <md-card-content layout="column" class="event">
      <div ng-hide="$ctrl.success" layout="column" ng-form="newPasswordForm" class="input-form">
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="$ctrl.password" name="password" minlength="6" required>
          <div ng-messages="newPasswordForm.password.$error">
            <div ng-message="required">This is required</div>
            <div ng-message-exp="['minlength']">
              Must be at least 6 characters long
            </div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Confirm password</label>
          <input type="password" ng-model="$ctrl.passwordConfirm" minlength="6" name="passwordConfirm" required>
          <div ng-messages="newPasswordForm.passwordConfirm.$error">
            <div ng-message="required">This is required</div>
          </div>
        </md-input-container>
        <div layout="row">
          <md-button ng-click="$ctrl.submit($ctrl.password)" class="md-primary md-raised" ng-disabled="$ctrl.password !== $ctrl.passwordConfirm || newPasswordForm.$invalid">Submit new password</md-button>
        </div>
      </div>
      <div ng-show="$ctrl.success">
        <p>Your password was reset successfully.</p>
      </div>
    </md-card-content>
  </md-card>
</section>
