<section layout="row" layout-align="center">
  <md-card flex flex-gt-sm="60">
    <md-card-title class="accent md-title">
      Reset password
    </md-card-title>
    <md-progress-linear ng-show="$ctrl.loading" md-mode="indeterminate"></md-progress-linear>
    <md-card-content layout="column" class="event">
      <div ng-hide="$ctrl.success">
        <md-input-container>
          <label>Email</label>
          <input type="email" ng-model="$ctrl.email">
        </md-input-container>
        <div layout="row">
          <md-button ng-click="$ctrl.submit($ctrl.email)" class="md-primary md-raised">Reset password</md-button>
        </div>
      </div>
      <div ng-show="$ctrl.success">
        <p>A reset link was sent to {{$ctrl.email}}.</p>
      </div>
    </md-card-content>
  </md-card>
</section>
