// == Style Variables

$palette--accent: #F44336;
$font-family: 'Lato', sans-serif;
$font-weight--regular: 400;
$font-weight--italics: 400i;
$box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
$rule: thin solid rgba(0,0,0,0.12);
// ==

// == Base fonts
body {
  font-family: $font-family;
  font-weight: $font-weight--regular;
}
em {
  font-weight: $font-weight--italics
}
a[ng-click] {
	text-decoration: underline;
	cursor: pointer;
}
// ==

// == Helpers
.muted {
	color: rgba(0, 0, 0, 0.52);
}
.link {
	&--muted {
		color: rgba(0, 0, 0, 0.87);		
	}
}
// ==

// == Components
main.main {
  background: #EEE;
  padding-bottom: 4em;
}
.top-bar {
	background: #212121;
	color: #FFF;
	height: 1.5em;
	padding: 0.5em 1em;
	box-shadow: $box-shadow;
}
.main-header {
	background: #323232;
	text-align: center;
	margin-bottom: 4em;
	&__logo {
		width: 200px;
		height: auto;
		padding: 1em;
	}
}
md-card-title.accent {
	color: #FFF;
	background: $palette--accent;
	padding: 16px;
}
label.label {
	@extend .muted;
	margin-bottom: 0.5em;
	font-size: 0.8em;
}
.event {
	margin-top: 1.5em;
	margin-bottom: 1em;
	&__name {
		margin-top: 0em;
	}
}
.cta-header {
	text-align: center;
	margin-top: 4em;
}
.login-form {
	padding-right: 2em;
	border-right: $rule;
	md-input-container {
		margin-top: 0;
		margin-bottom: 0;
		max-width: 300px;
	}
	&__password-reset-cta {
		margin-top: 1em;
	}
}
.facebook-form {
	padding-left: 2em;
}
.signup {
	&__cta {
		text-align: center;
		margin-top: 1.5em;
	}
}
.or {
	&__block {
		padding: 40px 20px;
		hr {
			width: 200px;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: $rule;
		}
	}
	&__cta {
		text-align: center;
	}
}
// ==